

/** VARIAVEIS GLOBAIS DO SCSS **/
$background: #eef2f5;
$menu: #334e54;
$font-system: 'Roboto-Regular';//font padrão do sistema

/** IMPORTA A FONT DO PROJETO **/
@font-face {
  font-family: 'Roboto-Regular';
  src: url("../assets/fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/**  DEFINE A COR DE BACKGROUND DO SISTEMA  **/
.scroll-content {
  background: $background;
}

/**  DEFINE A COR DE BACKGROUND DO MENU  **/
.toolbar-background {
  background: $menu;
}

/**  DEFINE A COR DO TEXTO DO MENU  **/
.toolbar-title {
  color: white;
}

/**  Ajuste da largura e posicionamento dos cards  **/
ion-card {
  max-width: 70% !important;
  margin-right: auto !important;
  margin-left: auto !important;
  margin-top: 0px !important;
}

/**  Ajuste da largura e posicionamento dos cards caso o tamanho do dispositivo for menor que 800px **/
@media only screen and (max-width: 800px) {
  ion-card {
    max-width: 100% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    margin-top: 0px !important;
  }
}

// Botão de voltar
.back-button{
  color: white ;
}

/** ADICIONANDO A FONT ROBOTO AOS TEXTOS DO PROJETO **/
.toolbar-title, p, h2, h6, .text-input, ion-label, button{
  font-family: $font-system !important;
}

.ionselect {
  width: 200px;
}


/** Propiedades do alert **/
.alert-md {
  
  .alert-wrapper {
    max-width: 600px!important;
    width: 600px!important;
  }
  .alert-button {
    color: #009688 !important;
  }
  .alert-message {
    overflow: hidden;
  }
  .alert-title, .alert-message, .alert-inner{
    font-family: $font-system !important;
  }
}

.toast_class {
  font-family: $font-system;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
}