page-user {
  // remove o scroll da page
  .scroll-content {
    overflow: hidden;
  }

  // adiciona um scroll apra a lista de usuarios
  ion-card {
    height: 100%;
    margin-top: 40px !important;
  }

  //ajuste no header da pagina
  ion-card-header {
    height: 80px !important;
    border-bottom: 1px solid lightgray;
  }

  //ajuste no scroll da lista de usuarios
  ion-card-content {
    height: 100%;
    overflow-y: scroll;
    margin-top: 1px;
  }

  // correção borda inferior
  ion-header {
    height: 0px;
  }

  ion-fab {
    position: absolute;
    right: 50px;
    top: 108px;
  }
  .color-fab {
    background: #d64747;
  }

  //ajuster na divisão dos usuário na lista
  .item-inner {
    border-bottom: 1px solid lightgray !important;
  }

  .div-menu {
    height: 121px;
    position: absolute;
    width: 100%;
    background: $menu;
    margin-left: -16px !important;
    z-index: -1;
  }

  .button-search {
    background: transparent;
    width: 351px;
  }
  
  .icon-search {
    position: relative;
    left: 156px;
    font-size: 20px;
  }

  .margin-auto {
    margin: auto;
    margin-top: 16px !important;
  }
}
